/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require kube/css/kube.min.css
 *= require kube/addons/kube-addons.min.css
 *= require kube/themes/kube.theme.min.css
 *= require_self
 */

@import 'share';

// -----------------------------
//  ヘッダー
// -----------------------------
.header {
  @include a-none;
  .logo {
    height: 50px;
    padding: 3px 15px;
  }
  .notice {
    margin: 0 0 0 auto;
    @include notice-badge;
    @include drop-down(30vw, -10vw);
    z-index: 10;
  }
  .notice-mobile {
    visibility: hidden;
  }
  .space {
    border-left: 1px solid $line-color;
    height: $menu-height;
  }
  .edit-menu {
    @include a-lists;
    @include drop-down(13vw, -5vw);
  }
}
// -----------------------------
//  メインコンテンツ
// -----------------------------
.contents {
  max-width: 1100px;
  width: 95vw;
  margin: 0 auto;
}
// -----------------------------
//  フッター
// -----------------------------


// -----------------------------
//  レスポンシブデザイン（スマホ）
// -----------------------------
@media (max-width: 768px) {
  .header {
    li {
      font-size: 24px;
    }
    .space {
      border-left: none;
      border-bottom: 1px solid $line-color;
      height: 5px;
    }
    .notice {
      visibility: hidden;
    }
    .notice-mobile {
      visibility: visible;
      @include notice-badge;
    }
  }
  body {
    width: 95vw;
    margin: 0 auto;
  }
}