/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require default.css
 *= require_self
 */

@import 'share';

// -----------------------------
// body
// -----------------------------
body {
  font-family: $main-font;
  margin: 0 auto;
  background-color: $back-color;
  color: $font-color;
}

// -----------------------------
//  ヘッダー
// -----------------------------
header {
  @include flex-center;
  height: $menu-height;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $line-color;
  .title {
    .page-menu {
      @include a-none;
      @include btn-panel($menu-height, 150px);
      @include drop-down(150px, -10px, 100%);
      font-size: 18px;
      font-weight: normal;
      margin-left: 10px;
      font-family: 'Rampart One', cursive;
      ul {
        @include a-lists;
      }
    }
  }
  .a-lists {
    @include a-lists;
    @include flex-center;
    .edit-menu {
      @include btn-panel($menu-height, 150px);
      @include a-lists;
      @include drop-down(150px, -1px, 100%);
      border-left: 1px solid $line-color;
    }
    .user-menu {
      @include btn-panel($menu-height, 150px);
      @include a-lists;
      @include drop-down(150px, -1px, 100%);
      border-left: 1px solid $line-color;
    }
    .btn {
      @include btn-panel($menu-height, 150px);
      border-left: 1px solid $line-color;
    }
    .notice {
      @include notice-badge;
      @include drop-down(400px, -300px, 100%);
      .unread {
        font-weight: bold;
        background-color: #fcf0d5;
      }
    }
  }
}
// -----------------------------
//  メインコンテンツ
// -----------------------------
.contents {
  max-width: 1100px;
  margin: 0 auto;
}
// -----------------------------
/*  フッター  */
// -----------------------------


// -----------------------------
//  レスポンシブデザイン（スマホ）
// -----------------------------
@media (max-width: 500px) {
  // -----------------------------
  //  ヘッダー
  // -----------------------------
  header {
    .title {
      .page-menu {
        margin-left: 0px;
        @include btn-panel($menu-height, calc(100vw / 3));
        @include drop-down(100vw, 0px, 100%);
      }
    }
    .a-lists {
      .edit-menu {
        @include btn-panel($menu-height, calc(100vw / 3));
        @include drop-down(100vw, calc(-100vw / 3), 100%);
      }
      .user-menu {
        @include btn-panel($menu-height, calc(100vw / 3));
        @include drop-down(100vw, calc((-100vw / 3) * 2), 100%);
      }
    }
  }
}
// -----------------------------
//  レスポンシブデザイン（タブレット）
// -----------------------------
@media (max-width: 1000px) {

}
