/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require default.css
 *= require_self
 */

// -----------------------------
//  共通変数
// -----------------------------
$line-color: #D8D8D8;
$back-color: white;
$font-color: black;
// -----------------------------
//  共通mixin
// -----------------------------
@mixin btn-radius($height, $width) {
  height: $height;
  width: $width;
  display: inline-block;
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 10px;
  margin: 0 5px;
}

@mixin btn-panel($height, $line-height, $width) {
  height: $height;
  line-height: $line-height;
  width: $width;
  border-left: 1px solid $line-color;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

@mixin a-none {
  a {
    text-decoration: none;
    color: $font-color;
  }
}

@mixin a-lists {
  li {
    @include a-none;
    list-style: none;
  }
}

@mixin menu-bar($height, $width) {
  height: $height;
  width: $width;
  display: flex;
  align-items: center;
}

@mixin drop-down($width, $left) {
  position: relative;
  ul {
    position: absolute;
    visibility: hidden;
    padding: 5px 10px;
    width: $width;
    left: $left;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid $line-color;
    background-color: $back-color;
  }
  &:hover { 
    ul {
      visibility: visible;
      opacity: 1;
    }
  }
}
// -----------------------------
// body
// -----------------------------
body {
  font-family: 'Zen Maru Gothic', sans-serif;
  margin: 0 auto;
  border-left: 1px solid $line-color;
  border-right: 1px solid $line-color;
}

// -----------------------------
/*  ヘッダー  */
// -----------------------------
header {
  @include menu-bar(50px, 100%);
  justify-content: space-between;
  .title {
    @include a-none;
    font-size: 18px;
    font-weight: normal;
    margin-left: 20px;
    font-family: 'Rampart One', cursive;
  }
  .a-lists {
    @include a-lists;
    display: flex;
    align-items: center;
  }
  .user-menu {
    @include btn-panel(50px, 50px, 150px);
    @include a-lists;
    @include drop-down(150px, -1px);
  }
  .btn {
    @include btn-panel(30px, 30px, 120px);
  }
}

// -----------------------------
/*  ナビゲーション  */
// -----------------------------
nav {
  @include menu-bar(50px, 100%);
  border-bottom: 1px solid $line-color;
  justify-content: space-around;
  .a-lists {
    @include a-lists;
    display: flex;
    align-items: center;
  }
  .btn {
    @include btn-panel(50px, 50px, 150px);
  }
  .last {
    border-right: 1px solid $line-color;
  }
  .active {
    border-bottom: 5px solid #57C3E9;
  }
}

// -----------------------------
/*  フッター  */
// -----------------------------



