// Place all the styles related to the experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share';

// -----------------------------
//  新規投稿
// -----------------------------
.forms-experience {
  margin-top: 20px;
  .forms {
    width: 90%;
    margin: 0 auto;
    .search-result {
      @include a-lists;
      @include drop-down(200px, 50px, 100%);
      top: -15px;
    }
    @include field-pack;
    .field {
      label {
        width: 120px;
      }
      input {
        width: 90%;
      }
    }
    .actions {
      display: flex;
      justify-content: right;
      input {
        @include submit-button;
        margin-top: 20px;
        width: 150px;
        height: 50px;
      }
    }
  }
}
// -----------------------------
//  一覧画面
// -----------------------------
.experience-index {
  h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
  }
  .indexs {
    margin: 0 auto;
    display: flex;
    .search-items {
      width: 20vw;
      @include basic-border;
      h2 {
        font-size: 18px;
        padding: 10px;
        text-align: center;
        text-decoration:underline;
      }
      details {
        padding: 5px 0 15px;
      }
      input, select, button {
        @include basic-border;
        width: 100%;
      }
      .submit {
        @include submit-button;
      }
    }
    .cards {
      nav {
        text-align: center;
        margin: 30px 0;
        span {
          @include basic-border;
          display: inline-block;
          min-width: 50px;
          font-size: 16px;
        }
        .current {
          color: $back-color;
          background-color: #8bd3dd;
        }
      }
      .card {
        width: 50vw;
        margin: 10px;
        padding: 15px 20px;
        border-bottom: 1px solid $line-color;
        .nickname {
          font-size: 14px;
        }
        .title {
          font-size: 23px;
          margin: 5px 0;
        }
        table {
          width: 100%;
          font-size: 14px;
          tr {
            width: calc(100% - 20px);
            .header {
              width: 20px;
              padding: 5px;
            }
            .item {
              width: calc(100% - 20px);
              padding: 5px;
            }
            .user-item {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

// -----------------------------
//  レスポンシブデザイン（スマホ）
// -----------------------------
@media (max-width: 500px) {
  // -----------------------------
  //  新規投稿
  // -----------------------------
  .forms-experience {
    .forms-new {
      .search-result {
        @include drop-down(90vw, 0px, 100%);
        line-height: 40px;
        ul {
          background-color: $back-color;
        }
      }
    }
  }
  // -----------------------------
  //  一覧画面
  // -----------------------------
  .experience-index {
    .indexs {
      display: block;
      .search-items {
        width: 95%;
      }
      .cards {
        .card {
          width: 95vw;
        }
      }
    }
  }
}