@import 'kube/mixins.scss';
@import 'kube/vars.scss';

// -----------------------------
//  共通変数
// -----------------------------
$line-color: #D8D8D8;
$line-pale-color: #eeded6;
$line-back-color: #f3d2c1;
//$back-color: #fef6e4;
$back-color: #eeeeee;
$dark-back-color: #f3d2c1;
$secondary-color: #8bd3dd;
$font-color: #001858;
$main-font: 'Zen Maru Gothic', sans-serif; 
$menu-height: 50px;
$active-color: #f582ae;
$inactive-color: gray;

// -----------------------------
//  共通mixin
// -----------------------------
@mixin btn-panel($height, $width) {
  height: $height;
  line-height: $height;
  width: $width;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

@mixin a-none {
  a {
    text-decoration: none;
    color: $font-color;
  }
}

@mixin a-lists {
  li {
    @include a-none;
    list-style: none;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin drop-down($width, $left) {
  position: relative;
  ul {
    position: absolute;
    visibility: hidden;
    padding: 5px 10px;
    min-width: $width;
    left: $left;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid $line-color;
    background-color: $back-color;
    font-family: $main-font;
  }
  &:active, &:hover { 
    ul {
      visibility: visible;
      opacity: 1;
      li {
        margin-right: 28px;
      }
    }
  }
}

@mixin basic-input() {
  border: 1px solid $line-color;
  border-radius: 5px;
  margin: 5px 0 15px;
  padding: 10px;
}

@mixin submit-button() {
  border: 1px solid $line-color;
  box-shadow: 5px 5px $line-color;
  text-align: center;
  font-weight: bolder;
  border-radius: 5px;
  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
}

@mixin notice-badge() {
  height: $menu-height;
  line-height: $menu-height;
  text-align: center;
  width: 15px;
  padding: 3px 5px;
  position: relative;       /* 基準値とする */
  span {
    position: absolute;     /* 相対位置に指定 */
    font-size: 13px;
    top: 10px;             /* 表示位置を上から-10pxの位置にする */
    left: calc(100% - 5px);/* 表示位置を右から内側に10pxの位置 */
    color: #FFF;          /* 文字色を白に指定 */
    font-weight: bold;      /* 太文字にする */
    line-height: 20px;      /* 行の高さを指定 */
    text-align: center;     /* 文字を中央揃えにする */
    background: #E68031;  /* 背景色をオレンジに指定 */
    border-radius: 10px;    /* line-heightの半分の角丸を指定 */
    min-width: 20px;        /* 最低幅を指定 */
    padding: 0 3px;         /* 左右に少しだけ余白を設定 */
    box-sizing: border-box; /* 計算しやすいように */
  }
  ul {
    text-align: left;
    display: block;
    p {
      text-align: center;
      border-bottom: 1px solid $line-color;
    }
    li {
      white-space: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      border-bottom: 1px solid $line-color;
      list-style: none;
    }
  }
  i {
    width: 30px;
    height: 30px;
  }
}
@mixin show-experience() {
  margin: 5px 5px 15px 5px;
  padding: 15px 20px;
  border-bottom: 1px solid $line-color;
  //border-radius: 5px;
  //box-shadow: 5px 5px 0px 0 $dark-back-color;
  .nickname {
    font-size: 14px;
  }
  .title {
    h1 {
      margin: 5px 0;
      text-align: left;
    }
  }
  table {
    tr {
      line-height: normal;
      width: calc(100% - 20px);
      .header {
        width: 20px;
        padding: 10px;
        .active {
          color: $active-color;
        }
        .inactive {
          color: $inactive-color;
        }
      }
      .item {
        width: calc(100% - 20px);
        padding: 10px;
        p {
          margin-bottom: 0px;
        }
      }
      .user-item {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
@mixin cards() {
  @include make-content;
  nav {
    text-align: center;
    margin: 30px 0;
    span {
      @include basic-input;
      display: inline-block;
      min-width: 50px;
      font-size: 16px;
    }
    .current {
      color: $back-color;
      background-color: #8bd3dd;
    }
  }
  .card {
    @include show-experience;
  }
}
@mixin cards-null() {
  text-align: center;
  font-size: 18px;
  border: 1px solid $line-color;
  border-radius: 5px;
  padding: 100px 0;
  margin: 5px 10px;
  height: 250px;
}

// -----------------------------
// 共通
// -----------------------------
.field_with_errors {
  display: contents;
}

// -----------------------------
//  Kube CSS Framework custom
// -----------------------------
body {
  background-color: $back-color;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
  color: $font-color;
}
a {
  color: $font-color;
}
a:hover {
  color: $font-color;
  text-decoration: underline;
}
// tbody td,tbody th {
//   border-bottom: 1px solid $line-pale-color;
// }
.button.is-destructive {
  // $back-color, $text-color
  @include make-button(#f1929d, #fff);
}
.button.is-secondary {
  // $back-color, $text-color
  @include make-button($secondary-color, #fff);
}
.button.is-like {
  // $back-color, $text-color
  //@include make-button(rgb(252, 110, 133), #fff);
  @include make-button($dark-back-color, #fff);
}