// -----------------------------
//  共通変数
// -----------------------------
$line-color: #D8D8D8;
$back-color: #fef6e4;
$font-color: #001858;
$main-font: 'Zen Maru Gothic', sans-serif; 
$menu-height: 50px;
// -----------------------------
//  共通mixin
// -----------------------------
@mixin btn-panel($height, $width) {
  height: $height;
  line-height: $height;
  width: $width;
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

@mixin a-none {
  a {
    text-decoration: none;
    color: $font-color;
  }
}

@mixin a-lists {
  li {
    @include a-none;
    list-style: none;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin drop-down($width, $left, $font-size) {
  position: relative;
  ul {
    font-size: $font-size;
    position: absolute;
    visibility: hidden;
    padding: 5px 10px;
    width: $width;
    left: $left;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid $line-color;
    background-color: $back-color;
    font-family: $main-font;
  }
  &:active, &:hover { 
    ul {
      visibility: visible;
      opacity: 1;
    }
  }
}

@mixin field-pack() {
  .field {
    @include flex-center;
    label, input, select {
      margin: 5px 0 15px;
      padding: 10px;
    }
    label {
      border-top: 1px solid $line-color;
      border-left: 1px solid $line-color;
      border-bottom: 1px solid $line-color;
      border-radius: 5px 0px 0px 5px;
    }
    input {
      border: 1px solid #D8D8D8;
      border-radius: 0px 5px 5px 0px;
    }
    select {
      border: 1px solid #D8D8D8;
      border-radius: 0px 5px 5px 0px;
    }
  }
}

@mixin basic-border() {
  border: 1px solid $line-color;
  border-radius: 5px;
  margin: 5px 0 15px;
  padding: 10px;
}

@mixin submit-button() {
  background-color: #f582ae;
  border: 1px solid $line-color;
  box-shadow: 5px 5px $line-color;
  text-align: center;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
}

@mixin notice-badge() {
  border-left: 1px solid $line-color;
  height: $menu-height;
  line-height: $menu-height;
  text-align: center;
  width: 50px;
  padding: 3px 5px;
  position: relative;       /* 基準値とする */
  span {
    position: absolute;     /* 相対位置に指定 */
    font-size: 13px;
    top: 10px;             /* 表示位置を上から-10pxの位置にする */
    left: calc(100% - 25px);/* 表示位置を右から内側に10pxの位置 */
    color: #FFF;          /* 文字色を白に指定 */
    font-weight: bold;      /* 太文字にする */
    line-height: 20px;      /* 行の高さを指定 */
    text-align: center;     /* 文字を中央揃えにする */
    background: #E68031;  /* 背景色をオレンジに指定 */
    border-radius: 10px;    /* line-heightの半分の角丸を指定 */
    min-width: 20px;        /* 最低幅を指定 */
    padding: 0 3px;         /* 左右に少しだけ余白を設定 */
    box-sizing: border-box; /* 計算しやすいように */
  }
  ul {
    text-align: left;
    p {
      border-bottom: 1px solid $line-color;
    }
    li {
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      border-bottom: 1px solid $line-color;
    }
  }
  i {
    width: 30px;
    height: 30px;
  }
}

// -----------------------------
//  共通scss
// -----------------------------
* {
  box-sizing: border-box;
}
.field_with_errors {
  display: contents;
}
.error-alert {
  background-color: #f54c4c;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}