// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'share';

.sign-container {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid $line-color;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }
  form {
    @include field-pack;
    .field {
      .required:after {
        content: " *";
        color: red;
      }
      label {
        width: 280px;
      }
      input {
        width: 100%;
      }
      select {
        width: 100%;
      }
    }
    em {
      font-size: small;
    }
    .remember-me {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      input {
        width: 10px;
        margin: 0px;
        padding: 0px;
      }
      label {
        margin-left: 5px;
        width: 200px;
      }
    }
    .actions input {
      @include submit-button;
      margin: 50px 0;
      width: 100%;
      height: 50px;
    }
    .delete {
      @include submit-button;
      background-color: #f54c4c;
      margin: 50px 0;
      width: 100%;
      height: 50px;
    }
  }
}

#error_explanation {
  background-color: #f54c4c;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}


@media (max-width: 500px) {
  .sign-container {
    width: 95%;
    padding: 15px;
    form {
      .field {
        font-size: small;
        label {
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {

}